@import "../../../App.scss";

.barChart {
  
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  width: 300px;
 height: 300px;
 p{
   @extend .chartP
 }

}