@import "../../../App.scss";
h3 {
  font-size: 16px;
  font-family: $font-family;
  font-weight: 600;
}
.legend {
   
  //   width: 15vw;
  // height: 30vh;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 5px;
  // position: relative;

  border: 1px solid #ddd;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
  background: -webkit-linear-gradient(top, #fff, #f7f7f7);
  p {
    font-family: $font-family;
    margin-bottom: 1%;
    font-size: 12px;
    padding: 1px;
  }
  li {
    
    flex-wrap: wrap;
    padding: 2px;
    .color1 {
      padding: 1px;
      background: #61c9aa;
      float: left;
      width: 10px;
      height: 10px;
      // margin: 5px;
      margin-right: 10px;
      margin-top: 15px;
    }
    .color2 {
      padding: 1px;
      background: #a36fa6;
      float: left;
      width: 10px;
      height: 10px;
      // margin: 5px;
      margin-right: 10px;
      margin-top: 15px;
    }
    .color3 {
      padding: 1px;
      background: #d67d67;

      float: left;
      width: 10px;
      height: 10px;
      // margin: 5px;
      margin-right: 10px;
      margin-top: 15px;
    }
    .color4 {
      padding: 1px;
      background: #dea65b;
      float: left;
      width: 10px;
      height: 10px;
      // margin: 5px;
      margin-right: 10px;
      margin-top: 15px;
    }
    .color5 {
      padding: 1px;
      background: #5391ba;
      float: left;
      width: 10px;
      height: 10px;
      // margin: 5px;
      margin-right: 10px;
      margin-top: 15px;
    }
    .category {
      font-weight: 600;
      float: left;
    }
    .price {
      float: right;
      margin-left: 10px;
    }
  }
}
