@import "../../../App.scss";

.chart1-cont {
  display: flex;
  align-items: center;
  height: 50vh;

  .hidden {
    margin: 0 auto;
    width: 60%;
    border: 1px solid #e74c3c;
    background: #fafbfc;
  }
}
