@import '../../App.scss';

.tfoot-cont {
    display: flex;
    flex-wrap: nowrap;
    border-top: 1px solid $bgcolor;
    background-color: #f0f0f0;
    vertical-align: middle;
    border-color: inherit;
    box-sizing: inherit;
}