@import "../../App.scss";

.mainview {
  // display: flex;
  //   flex-direction: row;
  //   flex-wrap: wrap;
  //   justify-content: space-between;
  //   align-items: center;
  //   overflow: visible;

  .overviewHeader {
    background: #f7f7f7;
    color: #000;

    width: 100vw;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    h3 {
      font-size: 16px;
      font-family: $font-family;
      font-weight: 600;
    }
  }
  .sideview {
    min-height: 46vh;
    margin-left: 2%;
    float: left;
    letter-spacing: 0;

    width: 15vw;
    // border-right: 1px solid #ccc;
    background: none !important;
    box-shadow: -12px 0 20px -12px rgba(0, 0, 0, 0.1) inset;
    p {
      font-family: $font-family;

      font-size: 12px;
    }
    h5 {
      font-family: "AvenirNext-Medium-Mint", "Helvetica Neue", Helvetica, Arial,
        sans-serif;
      border-bottom: 4px solid #ccc;
      font-size: 18px;
      font-weight: 600;
    }
    h6 {
      font-size: 16px;
      font-family: $font-family;
      font-weight: 600;
    }
  }
  .tableBox {
    margin-top: 1.5%;
    // margin-left: 10%;
    margin-bottom: 1%;
    padding: 1%;
    // width: 50vw;
    // height: 50vh;
    border-top: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
  }
  .charts {
    justify-content: space-around;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-right: 10%;

    h4 {
    }
  }
}
