@import "../../../App.scss";
.list-cont {
  flex-wrap: wrap;
  display: flex;

  table {
 
    border-spacing: 1;
    border: 1px solid #ddd;
    border-collapse: separate;
    
    font-size: 12px;
    margin-left: 0;
    vertical-align: middle;
    text-align: left;

    tbody {
      display: flex;
      flex-wrap: wrap;
      border-top: 1px solid #b1b1b1;
      background-color: #f0f0f0;
      vertical-align: baseline;
      margin: 0;
      padding: 0;
      border: 0;
      font-weight: inherit;
      font-style: inherit;
      font-size: 100%;

      tr {
        font-size: 1.8em;
        display: flex;
        width: 100%;

        align-items: stretch;
        height: inherit;
        padding: 2px !important;

        &:hover {
          border-radius: 0.5px;
          background: #c9caca;
        }

        td {
          border-top: 1px solid #dbdad8;

          flex: 1;
          min-width: 120px;
          text-align: right;

          display: flex;
          flex-wrap: nowrap;
          text-transform: uppercase;
          font-size: 12px;
          padding: 3px 4px 2px 9px;
          white-space: nowrap;
          width: 12%;
          box-sizing: border-box;
          border-right: 1px solid #eee;
        }
      }
    }
  }
}
