@import "../../../App.scss";
.list-cont {
  
  tbody {
    display: flex;
    flex-wrap: nowrap;
    border-top: 1px solid #b1b1b1;
    background-color: #f0f0f0;
    vertical-align: middle;

    tr {
      font-size: 1.8em;
      display: flex;
      width: 100%;
      -webkit-box-align: stretch;
      align-items: stretch;
      height: inherit;
      padding: 2px !important;

      &:hover {
        border-radius: 0.5px;
        background: #05eeb4;
      }
      .close {
      }
      td {
        -webkit-box-flex: 1;
        flex: 1;
        min-width: 120px;
        text-align: right;
        overflow: hidden;
        display: flex;
        flex-wrap: nowrap;
      }
    }
  }
}
