@import '../../App.scss';

footer {
    display: flex;
    position: absolute;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: space-between;
    align-items: space-between;
    bottom: 0;
    padding: 20px;
    margin-top: 20px;
    background: #f7f7f7;
    color: #666666;
    font-size: 12px;
    width: 100vw;
    height: 10vh;

    ul {
        flex-direction: row;
        justify-content: space-evenly;
        align-content: space-between;
        align-items: space-between;
    }
    li {
        flex-direction: row;
        justify-content: space-evenly;
        align-content: space-between;
        align-items: space-between;
    }
}