@import "../../App.scss";

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  align-items: center;
  // position: absolute;
  bottom: 0;

  background: #f7f7f7;
  color: #666666;
  font-size: 12px;
  width: 100vw;
  height: 8vh;

  ul {
    list-style: none;
    width: 80vw;
    display: flex;

    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
    align-items: space-between;
    &:hover {
      cursor: pointer;
    }
    li {
      &:hover {
        transition: all 0.2s ease;
        margin: 1px;
      }
      a {
        &:hover {
          color: $primary;
        }
        color: #666666;
      
        // justify-content: center;
        // text-decoration: none;
        // text-align: center;
        // line-height: 60px;
        // display: block;
        // padding: 0 20px;
        // font-size: 12px;
        // color: #999;
        // text-transform: uppercase;
      }
    }
  }
}
