@import "../../App.scss";

.login-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
 
  overflow: hidden;
  // height: 55vh;

  section {
    margin-bottom: 80px;
    margin-top: 5%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    align-content: center;
    border: 1px solid black;
    height: 45vh;
    width: 20vw;
    padding: 4%;
  }
  h2 {
    
    color: #4c4c4c;
    line-height: 1.1;
    font-size: 24px;

    font-weight: 400;
  }
  h4 {
    
    font-family: $font-family;
  }
  input {
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: flex;
    justify-content: center;
    text-align: start;
    -webkit-appearance: textfield;
    background-color: white;
    -webkit-rtl-ordering: logical;
    cursor: text;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 20px;
    border-width: 2px;
    border-style: inset;
    height: 15%;
    width: 100%;
    
  }
  button {
    color: white;
    background: #0077c5;
    border: #0077c5;
    border-radius: 4px;
    float: left;
    text-transform: capitalize;
    height: 60px;
    width: 100%;
    line-height: 1.4;
    white-space: nowrap;
    cursor: pointer;
  }
  p {
   
    
    font-family: $font-family;
    color: $bgcolor;
  }
  a{
   
   
    font-family: $font-family;
    color: $bgcolor;
  }
 
}
