
$font-family: 'Muli', sans-serif;

$primary: #a3ffde;
$secondary: #7abfa6;
$teritary: #2c98ca;
$bgcolor: #333333;

@mixin flexCenter($direction){
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: $direction;
}
.chartP {
  // padding: 1%;
  margin: 5px 0 36px 1px;
  color: #666666;
  font-size: 13px;
}
body {
  -webkit-font-smoothing: subpixel-antialiased;
  background:#FFFFFF;
  color: #333;
  font-size: 14px;
  margin: 0;
  padding: 0;
  border: 0;
  height: 100%;

  // position: relative;
  
  // vertical-align: baseline;
  
}
html {
  height: 100%
}

// @import './styles//variables'
// @import './styles//mixins'
// @import './styles//keyframes'
