$font-family: 'Muli', sans-serif;

$primary: #a3ffde;
$secondary: #7abfa6;
$teritary: #aee6c5;
$bgcolor: #333333;

body {
  -webkit-font-smoothing: subpixel-antialiased;
  background: #f7f7f7;
  color: #333;
  font-size: 14px;
  margin: 0;
  padding: 0;
  border: 0;

  vertical-align: baseline;
}

// @import './styles//variables'
// @import './styles//mixins'
// @import './styles//keyframes'
